/*
--- config ---
*/

@charset "UTF-8";

//静态文件所在目录
@sprite-url:   "img/";
@fonticon-url: "fonts/";


//主色调
@mainColor1: #351e47;
@mainColor2: #d8b45e;


//基础背景色
@base-bg: #fff;


//基础文本色调
@base-fontColor: #666;
    //副文本色调
    @sub-fontColor: #999;


//
@base-fontSize: 14px;
    //主导航链接字体尺寸
    @main-nav-fontSize: @base-fontSize + 2px;
    //表单文本尺寸
    @form-font-size: @base-fontSize;


//盒子边框色调
@base-box-border-color: #ededed;
    //表单项边框色调


//基础页面框架宽度
@base-mainBody-width: 1000px;
    //页面构件布局宽度
    @base-section-wrap-width: 100%;
    