@font-face {
	font-family: 'fonticon';
	src:url('fonts/fonticon.eot?-bpvbif');
	src:url('fonts/fonticon.eot?#iefix-bpvbif') format('embedded-opentype'),
		url('fonts/fonticon.woff?-bpvbif') format('woff'),
		url('fonts/fonticon.ttf?-bpvbif') format('truetype'),
		url('fonts/fonticon.svg?-bpvbif#fonticon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'fonticon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-thin-left:before {
	content: "\e601";
}
.icon-chevron-thin-right:before {
	content: "\e602";
}
.icon-tel01:before {
	content: "\e600";
}
